<div class="slides">
  <a
    [href]="slides[currentSlide].link"
    target="_blank"
    rel="noopener noreferrer"
    class="slide-link"
    style="display: block; height: 100%"
  >
    <div
      class="slide"
      [ngStyle]="{
        'background-image': 'url(' + slides[currentSlide].url + ')',
        opacity: hidden ? 0 : 1,
        transition: 'opacity ' + animationSpeed + 'ms ease-in-out'
      }"
    ></div>
  </a>

  <div *ngIf="indicatorsVisible" id="indicators">
    <div
      *ngFor="let slide of slides; let index = index"
      (click)="jumpToSlide(index)"
      class="indicator"
      [ngClass]="{ active: index == currentSlide }"
    ></div>
  </div>

  <button (click)="next()" class="nextButton">
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </button>
  <button (click)="previous()" class="previousButton">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>
</div>
