<div  class="container my-4">
    <h2 class="ma">Explore Category</h2>
    <div class="scrolling-wrapper">
      <div class="card">
        <a href="https://link6.com">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1700067105-screen-shot-2023-11-15-at-11-51-20-am-6554f7161b54a.png?crop=0.997080291970803xw:1xh;center,top&resize=980:*">
          <p>Reed Diffusers</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link1.com">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1706049755-tempur-pro-breeze-pillow-65b03f8b1eb7d.png?crop=1xw:1xh;center,top&resize=980:*">
          <p>Pillows</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link2.com">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1723570078-81XckvcAFpL.jpg?crop=0.808xw:0.808xh;0.125xw,0.0817xh&resize=980:*">
          <p>Coffee MAakers</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link3.com">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1643046533-41u0koyP85L._SL500_.jpg?crop=1xw:1.00xh;center,top&resize=980:*">
          <p>Electric Machines</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link4.com">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1702508027-71B7gHAW6RL.jpg?crop=1xw:1.00xh;center,top&resize=980:*">
          <p>Kitchen Blenders</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link5.com">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1723581912-91cM0mswm-L.jpg?crop=1xw:1.00xh;center,top&resize=980:*">
          <p>Kitchen Cooking Tools</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1716067522-51QwPyAxnTL._SL500_.jpg?crop=1xw:1.00xh;center,top&resize=980:*">
          <p>Mattress</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://www.cnet.com/a/img/resize/690ad0a97cf8fc98f3cf851e7b149d2ffc5b171e/hub/2023/05/04/31dfdcf2-1ac3-4320-b40c-4c356300f06e/google-pixel-7a-phone-14.jpg?auto=webp&height=500">
          <p>Products</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1723570950-img-1238-2-66bb97a4cc3dc.jpg?crop=1xw:1xh;center,top&resize=980:*">
          <p>Stick Vacuums</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://m.media-amazon.com/images/I/918fkBmvPBL._AC_SX679_.jpg">
          <p>Bathrooms</p>
        </a>
      </div>
  
    </div>
  </div>
  