.rating{
  /* color: #198754; */
  background: linear-gradient(106deg, #7600AD 6.13%, #E530E2 39.14%, #D3259C 72.85%, #E67D19 100.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  margin: 15px;
}

.filled {
  font-size: 1.5rem; 
  cursor: pointer;
    background: linear-gradient(106deg, #7600AD 6.13%, #E530E2 39.14%, #D3259C 72.85%, #E67D19 100.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.empty {
  font-size: 1.5rem; 
  cursor: pointer;
  color: lightgray;
}
.card-title{
  background: linear-gradient(106deg, #7600AD 6.13%, #E530E2 39.14%, #D3259C 72.85%, #E67D19 100.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px; 
  text-align: center;
  margin: 20px;
  line-height: 25px;
}
h3{
  font-size: 32px;
  text-align: center;
  margin-top:30px ;
  background: linear-gradient(106deg, #7600AD 6.13%, #E530E2 39.14%, #D3259C 72.85%, #E67D19 100.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-text{
  /* text-align: center; */
  font-size: 30px;
  margin: 15px;
  margin-left: 30px;
}


.btn {
  border: 5px solid #7600AD;
  background: linear-gradient(106deg, #7600AD 6.13%, #E530E2 39.14%, #D3259C 72.85%, #E67D19 100.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px;
  transition: background 0.3s ease, -webkit-text-fill-color 0.3s ease;
}
.btn:hover, .btn:active {
  background: linear-gradient(106deg, #E67D19 6.13%, #D3259C 39.14%, #E530E2 72.85%, #7600AD 100.31%);
  border-color: #ffffff; 
  -webkit-text-fill-color: white; /* Change text color to white on hover */
}