<div  class="container my-4">
    <h2 class="ma">Explore Category</h2>
    <div class="scrolling-wrapper">
      <div class="card">
        <a href="https://link1.com">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKtitm-cZUSbARJdjjBYVhZ1HYJuab2bQpug&s" alt="The Gift Shop">
          <p>The Gift Shop</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link2.com">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ0-sliHHq4F_XV00jsdkaf5dSZUgxMAMkTw&s" alt="Mystery & Adventure">
          <p>Mystery & Adventure</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link3.com">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsPUfsOjL3pvgFTXk0LfzjGec8RRNxJRj4bg&s" alt="Snacks">
          <p>Snacks</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link4.com">
          <img src="https://istanbul.nobili-design.com/storage/posts/22/900_design_interior_casa_clasica_Istanbul.jpg" alt="Kids & Teen">
          <p>Kids & Teen</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link5.com">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPqKCL5m_eHR_Kp4w6fq0AtxTfZsVMiuFkuw&s" alt="Arts & Crafts">
          <p>Arts & Crafts</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://www.cyruscrafts.com/img/cms/blog/classic-interior-design/classic-home-design.jpg" alt="Cocktails">
          <p>Cocktails</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://www.cyruscrafts.com/img/cms/blog/classic-interior-design/classic-home-design.jpg" alt="Cocktails">
          <p>Cocktails</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://www.cyruscrafts.com/img/cms/blog/classic-interior-design/classic-home-design.jpg" alt="Cocktails">
          <p>Cocktails</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://www.cyruscrafts.com/img/cms/blog/classic-interior-design/classic-home-design.jpg" alt="Cocktails">
          <p>Cocktails</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://www.cyruscrafts.com/img/cms/blog/classic-interior-design/classic-home-design.jpg" alt="Cocktails">
          <p>Cocktails</p>
        </a>
      </div>
      <div class="card">
        <a href="https://link6.com">
          <img src="https://www.cyruscrafts.com/img/cms/blog/classic-interior-design/classic-home-design.jpg" alt="Cocktails">
          <p>Cocktails</p>
        </a>
      </div>
    </div>
  </div>
  