<div class="product-list">
    <h2>Products in Category</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="product-card">
          <img [src]="product.image" class="product-img" alt="Product Image">
          <div class="product-body">
            <h5 class="product-title">{{ product.name }}</h5>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">{{ product.price | currency }}</p>
            <button class="btn" [routerLink]="['/product', product.id]">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  