<div class="container text-black mx-auto p-4">
  <div class="d-flex align-items-center gap-3 mb-4">
    <label class="fw-semibold fs-4 text-muted" for="search">Enter keywords:</label>
    <input name="search" type="text" class="form-control w-100 flex-1" [(ngModel)]="searchValue"
      (ngModelChange)="searchProducts()" placeholder="Search..." />
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of searchResult">
      <div class="card h-100">
        <div class="card-body">
          <a [routerLink]="['/productdetails', product.id]">
            <img [src]="product.images[0]" class="card-img-top" alt="{{ product.title }}">
          </a>
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">
            <span class="badge bg-primary">PRICE: ${{ product.price }}</span>
            <br>
            <ng-container *ngIf="product.discountPercentage > 10; else noDiscount">
              <span class="badge bg-danger">Discount: {{ product.discountPercentage }}%</span>
            </ng-container>
            <ng-template #noDiscount>
              <span class="badge bg-secondary">Discount: {{ product.discountPercentage }}%</span>
            </ng-template>
            <br>
            <ng-container *ngIf="product.stock < 15; else stockAvailable">
              <span class="badge bg-warning text-dark">Available Pieces: {{ product.stock }} only!</span>
            </ng-container>
            <ng-template #stockAvailable>
              <span class="badge bg-success">Available Pieces: {{ product.stock }}</span>
            </ng-template>
            <br>
            <span class="badge bg-info">Rating: {{ product.rating }}/5</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="searchResult.length === 0 && searchValue.trim() !== ''" class="text-center mt-4">
    <h2>No products found matching your search.</h2>
  </div>
</div>