<div class="container text-black mx-auto p-4">
  <div class="d-flex align-items-center gap-3 mb-4">
    <label class="fw-semibold fs-4 text-muted" for="search">Enter keywords:</label>
    <input
      name="search"
      type="text"
      class="form-control w-100 flex-1"
      [(ngModel)]="searchValue"
      placeholder="Search..."
    />
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (movie of searchResult; track movie.id) {
      <div class="card h-100">
        <!-- <a [routerLink]="['/movdetails', movie.id]"> -->
          <!-- <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            class="card-img-top"
            alt="Movie Poster"
          /> -->
        <!-- </a> -->
        <div class="card-body">
          <h5 class="card-title">{{ movie.name }}</h5>
          @if (movie.vote_average > 7) {
            <span class="badge bg-danger text-white">Highest Rate</span>
          }@else {
            <span class="badge bg-warning text-dark">{{ movie.vote_average }}</span>
          }
          <h6 class="card-subtitle mt-2 text-muted">{{ movie.release_date }}</h6>
        </div>
      </div>
    }
  </div>
</div>
