<div class="container">
  <h2 class="text-center my-4">You Might Also Like</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    <div class="col" *ngFor="let card of cards" (click)="navigateTo(card.link)">
      <div class="card h-100">
        <img [src]="card.imageUrl" class="card-img-top" alt="{{card.title}}">
        <div class="card-body">
          <h5 class="card-title text-center" style="font-size: 16px;">{{card.title}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
